.MikuGreen{
  padding-bottom: 5px;
  background-color: #50cbca;
}
.MikuHair{
  background-color: #50cbca;
  background:linear-gradient(135deg,
  #50cbca 5%,#172238 0,
  #172238 10%,#E53188 0,
  #E53188 15%,#172238 0,
  #172238 20%,#50cbca 0,
  #50cbca 25%,transparent 50%),
    linear-gradient(45deg,
  #50cbca 80%,#172238 0,
  #172238 85%,#E53188 0,
  #E53188 90%,#172238 0,
  #172238 95%,#50cbca 0,
  #50cbca 100%)
            ;
}
.DeskPic{
  width: 100%;
  height: auto;
}
.MikuClothes{
  background-color: #ACC5D9;
}
.MikuTie{
  height:100%;
  background:linear-gradient(45deg, #557777 50%, transparent 50%),
  linear-gradient(90deg, #ee6655 100%, transparent 100%),
  linear-gradient(135deg, #ffeebb 50%, transparent 50%) 100% 0%,
  linear-gradient(180deg, #ffcc55 100%, transparent 100%) 100% 0%,
  linear-gradient(225deg, #ffaa22 50%, transparent 50%) 100% 100%,
  linear-gradient(270deg, #ccddaa 100%, transparent 100%) 100% 100%,
  linear-gradient(315deg, #77aa88 50%, transparent 50%) 0% 100%,
  linear-gradient(360deg, #99cc99 100%, transparent 100%) 0% 100%);
  background-repeat: no-repeat;
	background-size: 50% 50%;
}
.Info{
  margin-top: 2px;
  background-color: #EEEE00;
  padding: 20px 0px;
  display: inline-block;
}
.FooterWord{
  color:white;
  display: inline;
}
.MikuSkirt{
  height:60px;
  background-color:#172238;
  background-image: repeating-linear-gradient(90deg,
    hsla(0,0%,100%,0),
    hsla(0,0%,100%,.1) 15px,
     transparent 0,
     transparent 30px);
}
.MikuSkirt2{
  height:20px;
  background-color:#50cbca;
  background-image: repeating-linear-gradient(90deg,
    hsla(0,0%,100%,0),
    hsla(0,0%,100%,.1) 15px,
     transparent 0,
     transparent 30px);
}
